#raw-data-display {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50vw;
	min-height: 100vh;
	background-color: #000000aa;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-left: 1px solid #242424;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 1em 2em;
}

#raw-data-display h2 {
	margin: 0.75em 0.5em 0.55em 0;
	text-align: center;
}

#raw-data {
	width: 100%;
	margin-top: 1em;
}

.raw-data-field {
	margin-bottom: 1em;
	white-space: pre-wrap;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid #242424;
	border-radius: 5px;
	overflow: auto;
}

.raw-data-field:not(:last-child) {
	padding: 0.75em 1em;
}

.raw-data-field:last-child {
	padding: 0.75em;
}

#raw-data-content-field-name {
	position: sticky;
	padding: 0 0.5em 0.5em 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #242424;
}

#raw-data-file-content {
	max-height: 43vh;
	overflow: auto;
	padding: 0 0.5em;
}

/* ======================================================== SCROLLBAR ================================================== */

.raw-data-field::-webkit-scrollbar,
#raw-data-file-content::-webkit-scrollbar {
	width: 0.7em;
}

.raw-data-field::-webkit-scrollbar-track,
#raw-data-file-content::-webkit-scrollbar-track {
	background-color: #212121;
}

.raw-data-field::-webkit-scrollbar-thumb,
#raw-data-file-content::-webkit-scrollbar-thumb {
	background-color: #616161;
	border-radius: 2px;
}
