#commit-selector {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 20vw;
	min-height: 100vh;
	background-color: #000000aa;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-right: 1px solid #242424;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#commit-selector-commit-wrapper,
#commit-selector-shortcut-btn-wrapper,
#commit-selector-btn-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#commit-selector-btn-wrapper {
	padding-bottom: 0.5em;
}

#commit-selector-dismiss {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#selector-commit-wrapper {
	max-height: 73vh;
	overflow: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.selector-commit {
	margin: 0.5em;
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	padding: 0.25em 0.5em;
	border: 1px solid #242424;
	border-radius: 5px;
	cursor: pointer;
}

.selector-commit:first-child {
	margin-top: 0;
}

.selector-commit:last-child {
	margin-bottom: 0;
}

.selector-commit-text-msg {
	color: #616161;
}

.selector-commit input {
	cursor: pointer;
}

.selector-commit-text {
	margin-left: 0.5em;
}

/* ======================================================== SCROLLBAR ================================================== */

#selector-commit-wrapper::-webkit-scrollbar {
	width: 0.7em;
}

#selector-commit-wrapper::-webkit-scrollbar-track {
	background-color: #212121;
}

#selector-commit-wrapper::-webkit-scrollbar-thumb {
	background-color: #616161;
	border-radius: 2px;
}
