body {
	background-color: black;
	color: #e0e0e0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

html {
	scroll-padding: 12vh 0 0 0;
}

header {
	height: 13vh;
	width: 100%;
	display: grid;
	place-content: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #000000aa;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	text-align: center;
	transition: 0.3s;
}

h1 {
	padding: 0.25em 0.5em;
}

.header-border-bottom {
	border-bottom: 1px solid #242424;
}

.header-dismiss {
	transform: translateY(-13vh);
}

main {
	min-height: 77vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin: 0 0.5em;
}

button {
	padding: 0.5em 1em;
	margin: 0.5em;
	border-radius: 5px;
	background-color: #242424;
	border: none;
	color: #e0e0e0;
	cursor: pointer !important;
}

button:disabled {
	cursor: auto !important;
	opacity: 0.7;
}

footer {
	height: 10vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	margin: 0 0.5em;
}

a,
a:hover {
	color: #e0e0e0;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}
