.intro-msg {
	margin: 5em 1em;
}

.intro-msg p {
	margin-bottom: 1em;
}

.intro-msg li {
	margin-bottom: 1em;
	list-style: inside;
	padding-left: 0.5em;
}

.intro-msg h2 {
	margin: 1.5em 0 1em 0;
}

.intro-msg ul ul {
	margin-left: 3em;
	margin-top: 1em;
}

.intro-msg ul ul li {
	list-style: circle;
}
