.git-object {
	background-color: #242424;
	padding: 0.5em;
	border-radius: 5px;
	text-align: center;
	margin: 2em 0;
	font-size: 18px;
	border: 1px solid black;
	position: relative;
}

.commit-object {
	background-color: #ff8a80;
	color: black;
	margin-left: 0.5em;
}

.tree-object {
	margin-right: 30vw;
	margin-left: 15vw;
	background-color: #82b1ff;
	color: black;
}

.blob-object {
	background-color: #ea80fc;
	color: black;
	margin-right: 0.5em;
}

.HEAD-object {
	margin-left: 0.5em;
}

.HEAD-object,
.git-object-no-color {
	background-color: #242424;
	color: #e0e0e0;
}

.raw-btn {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.125em 0.25em;
	display: none;
}

.git-object:hover > .raw-btn {
	display: block;
}
